:root {
  --background-color: #FFFFFF;
  --background-color2: #ffffffce;
  --border-color: #bcbcbc;
  --shadow-color: #b7d2dc99;
  --text-primary: #434343;
  --text-secondary: #4f4f4f;
  --orange: #ff7300;
  --green: #20b6b0;
}
